:root {
  --btn-width-default: 50px;
  --btn-height-default: 50px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--btn-width-default);
  height: var(--btn-height-default);
  border: none;
  border-radius: 50%;
  background-color: whitesmoke;
}

.btn--start,
.btn--add {
  width: calc(var(--btn-width-default) * 1.8);
  height: calc(var(--btn-height-default) * 1.8);
}

.btn--start,
.btn--pause {
  grid-column: 2/3;
}

.btn--add {
  align-self: center;
  margin-block: auto;
}

.btn--add-active {
  display: none;
}

.btn--pause,
.btn--submit {
  width: calc(var(--btn-width-default) * 2.5);
  height: calc(var(--btn-height-default) * 1.8);
  border-radius: 30px;
}

.btn--submit {
  margin-top: 30px;
}

.btn__icon {
  width: var(--btn-width-default);
  height: var(--btn-height-default);
}

.btn__icon--small {
  width: 20px;
  height: 20px;
}

.btn--remove {
  position: absolute;
  top: 15px;
  right: 15px;
  width: calc(var(--btn-width-default) * 0.8);
  height: calc(var(--btn-height-default) * 0.8);
}

.btn--end {
  justify-self: right;
  margin-right: 40px;
}

@media (min-width: 700px) {
  :root {
    --btn-width-default: 40px;
    --btn-height-default: 40px;
  }

  .task__footer {
    margin: 0;
  }

  .btn--end {
    margin-right: 20px;
  }
}