body {
    background-color: black;
    color: white;
    margin: 0;
}

.task,
.newTask {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 20px);
  height: 100vh;
  margin: 20px 10px;
  border-radius: 20px;
  background-color: rgb(31, 31, 31);
}

.newTask {
  justify-content: center;
  align-items: center;
}

.task__footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.task__timer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task__header {
  margin: 20px;
}

.taskForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.taskForm__header {
  margin-bottom: 20px;
}

.taskForm__input {
  display: flex;
  flex-wrap: wrap;
  background: none;
  border: none;
  text-align: center;
}
