@media (min-width: 700px) {
  .root__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    justify-content: center;
  }

  .task,
  .newTask {
    height: 260px;
    margin: 0;
  }

}