@media (min-width: 700px) {
  .root__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    justify-content: center;
  }

  .task,
  .addTask {
    height: 300px;
  }

  .task__footer {
    margin: 10px;
  }

  .newTask {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newTask__container {
    position: absolute;
    top: 15vh;
    margin: unset;
    transform: unset;
    width: 300px;
    height: 300px;
  }

  .taskForm__input {
    margin-bottom: 0;
  }
}